<ion-view view-title="Profile List">
  <ion-content class="padding">

    <h2>Welcome to profile detail list</h2>
  <ul>
    <li>Treveled Dated: {{cde.date |date:'yyyy-MM-dd'}}</li>
    <li>Treveling to :{{cde.caption}} </li>
    <li>food eaten: {{cde.food}}</li>
    <li>Book Today: {{cde.book}}</li>
    <li>todays Speciality: {{cde.special}}</li>
    <li>Treveling Via: {{cde.treveling}}</li>
  
  </ul>
   <h1>Map</h1>
    {{coords.latitude}}, {{coords.longitude}}
  

<map center="{{coords.latitude}}, {{coords.longitude}}" zoom="13" 
disable-default-u-i="true">

<marker ng-repeat="bikeStation in bikeStations"
    
    position="{{[bikeStation.lat,bikeStation.lng]}}"

</marker>

</map>
    
  </ion-content>
</ion-view>
