<ion-view view-title="Journey List">
  <ion-content class="padding">

    <h2>Welcome to Journey list</h2>

     <ion-item class="item-remove-animate item-avatar item-icon-right" 
      ng-repeat="note in abc" type="item-text-wrap" 
      href="#/tab/profilelist/{{note.id}}">
       
        <h2>{{note.date |date:'yyyy-MM-dd'}}</h2>
        <p>{{note.caption}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

     
      </ion-item>
 
  </ion-content>
</ion-view>
