<ion-view view-title="Journey">
 
	  <ion-content class="padding">

										<form name="profileform" novalidate="novalidate" ng-submit="profile(profileform)">

								
	  	         <div class="list">
								
							 <label class="item item-input">
	              <span class="input-label">Caption</span>
	              <input type="text" ng-model="user.caption" name="txtcaption"  ng-required="true" 
	              ng-minlength="5"
	              ng-maxlength="10">
	            </label>
													
						
	            <label class="item item-input">
	              <span class="input-label">Today Food</span>
	              <input type="text" ng-model="user.food" name="txtfood""  ng-required="true" 
	              ng-minlength="5"
	              ng-maxlength="10">
	            </label>

						<div  ng-messages="profileform.txtfood.$error" style="color: maroon" role="alert">
								<div  ng-message="minlength">Description should be at least 6 characters</div>
								<div ng-messages-include="templates/form-errors.html"></div> 
						</div>

							<label class="item item-input">
	              <span class="input-label">Book Today</span>
	              <input type="text" ng-model="user.book" name="txtbook" 
	              ng-minlength="3"
	              ng-maxlength="10">
	            </label>


					<div  ng-messages="profileform.txtbook.$error" style="color: maroon" role="alert">
								<div  ng-message="minlength">Description should be at least 4 characters</div>
					<div ng-messages-include="templates/form-errors.html"></div> 
					</div>
							<label class="item item-input">
	              <span class="input-label">Special Today</span>
	              <input type="text" ng-model="user.special" name="txtspecial"  ng-required="true" 
	              ng-minlength="5"
	              ng-maxlength="10">
	            </label>


							<div  ng-messages="profileform.txtspecial.$error" style="color: maroon" role="alert">
										<div  ng-message="minlength">Description should be at least 6 characters</div>
							<div ng-messages-include="templates/form-errors.html"></div> 
							



							<label class="item item-input">
	              <span class="input-label">Treveling via</span>
	              <input type="text" ng-model="user.treveling" name="txttreveling"  ng-required="true" 
	              ng-minlength="5"
	              ng-maxlength="10">
	            </label>


							<div  ng-messages="profileform.txttreveling.$error" style="color: maroon" role="alert">
										<div  ng-message="minlength">Description should be at least 6 characters</div>
							<div ng-messages-include="templates/form-errors.html"></div> 



							 <label class="item item-input item-stacked label">
												<span class="input-label">Starting Point</span>
												<select name="startingpoint"  ng-model="user.startingpoint" name="txtstarting"  >
															<option ng-repeat="nam in bikes" ng-model="user.startpoint" value={{nam.number}} id={{nam.number}}>{{nam.name}}</option>
												</select> 
							 </label>


							

							 <label class="item item-input item-stacked label">
												<span class="input-label">Ending Point</span>
												<select name="ending"  ng-model="user.ending" name="txtending" >
															<option ng-repeat="abcd in bikes" ng-model="user.ending" value={{abcd.number}} id={{abcd.number}}>{{abcd.name}}</option>
												</select> 
							 </label>

							 
 					

	          <div class="padding">
								<button class="button button-block button-positive" >
									Sign-In
								</button>
									<p class="text-center">
										<a href="">Forgot password</a>
									</p>
									<p class="text-center">
									Build 0.2
									</p>
	          </div>
 </div>

										</form>
	  </ion-content>
  
</ion-view>