<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

   <ion-tab title="ProfileList" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/profilelist">
    <ion-nav-view name="tab-profilelist"></ion-nav-view>
  </ion-tab>
  
  
      
    <!-- Cloud Tracker Tab -->
  <ion-tab title="FB Tracker" icon-off="ion-cloud" icon-on="ion-cloud" href="#/tab/fbtracker">
    <ion-nav-view name="tab-weather"></ion-nav-view>
  </ion-tab>
  

  <!-- Photo Tab -->
  <ion-tab title=Photos icon-off="ion-ios-camera" icon-on="ion-ios-camera" href="#/tab/photos">
    <ion-nav-view name="tab-photos"></ion-nav-view>
  </ion-tab>
  
  
  <!-- Signout Tab -->
  <ion-tab title="Signout" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/login">
    <ion-nav-view name="tab-signout"></ion-nav-view>
  </ion-tab>


</ion-tabs>
