<ion-view view-title="{{item.title}}">
  <ion-content class="padding">
    
    <div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{item.imgthumb}}" style="width: 64px; height: 64px">
    <h2>{{item.title}}</h2>
    <p>lorem ipsum</p>
  </div>

  <div class="item item-body">
  
   <p>{{item.latitude}}, {{item.longitude}}</p>
   
   <map center="{{item.latitude}}, {{item.longitude}}" zoom="13" disable-default-u-i="true">

<marker position="{{[item.latitude,item.longitude]}}"

</marker>

</map>
  
  
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam voluptates non quaerat consequuntur odit atque cum et amet sint nostrum magni architecto odio similique placeat. Nostrum corporis eligendi sunt.
   
   
   
   
   
   
   
    <p>
       {{item.description}}
    </p>
    <p>
      <a href="#{{item.id}}" class="subdued">1 Like</a>
      <a href="#{{item.id}}" class="subdued">5 Comments</a>
       <a href="#{{item.id}}" class="subdued">ID = {{item.$id}}</a>
    </p>
  </div>

</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </ion-content>
</ion-view>
