<ion-view view-title="FB Tracked Items">
    <ion-nav-buttons side="right">
      <button class="button" ui-sref="tab.addTrackedItemToFB">
           <i class="icon ion-ios-plus-outline"></i>
      </button>
    </ion-nav-buttons>
    <ion-content>
     <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="trackedItem in trackedItems" type="item-text-wrap" href="#/tab/fbItemDetail/{{trackedItem.$id}}">
        <img ng-src="{{trackedItem.imgthumb}}">
        <h2>{{trackedItem.title}}</h2>
        <p>{{trackedItem.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="trackedItem">
          Delete
        </ion-option-button>
      </ion-item>
     </ion-list>
     </ion-content>
</ion-view>